@media print {
  body {
    background: white;
    color: black;
    --chord-text-color: white;
  }
  .print-hidden,
  a,
  form,
  button,
  footer {
    display: none !important;
  }
}

@media screen {
  .print-only {
    display: none !important;
  }
}
