.chordsLine {
  position: relative;
}

.chords {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(16, 1fr);
  position: relative;
  font-family: var(--font-chord);
}

.duplicate {
  opacity: 0.3;
  margin-top: 2px;
}

.chord,
.break,
.blank {
  display: grid;
  position: relative;
  padding: 2rem 0;
  border-radius: var(--radius);
}
.chord {
  background: var(--chord-color);
}
.break {
  box-shadow: 0 0 20px rgb(255 255 255 / 0.3) inset;
  color: rgb(255 255 255 / 0.5);
}
.blank {
  box-shadow: none;
  padding: 1rem 0;
}

.removeChord {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out;
}
.chord:hover .removeChord {
  opacity: 1;
  pointer-events: all;
}

.hoverInfo {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  position: absolute;
  font-size: 0.7em;
  left: calc(0.5 * var(--spacing-x));
  width: calc(100% - var(--spacing-x));
  bottom: calc(0.5 * var(--spacing-y));
  opacity: 0;
}
.info {
  display: flex;
  flex-direction: column;
}
.timingLabel {
  color: black;
  text-transform: uppercase;
  font-size: 8px;
}
.timing {
  background: black;
  padding: 0.3em;
  border-radius: var(--radius);
}
.chord:hover .hoverInfo {
  opacity: 1;
}

.dragHandleRight,
.dragHandleLeft {
  display: block;
  background: white;
  opacity: 0;
  position: absolute;
  width: 8px;
  padding: 0;
  height: 100%;
  transition: opacity 150ms ease-in;
}
.dragHandleLeft {
  left: 0;
  border-radius: var(--radius) 0 0 var(--radius);
  cursor: move;
}
.dragHandleRight {
  right: 0;
  border-radius: 0 var(--radius) var(--radius) 0;
  cursor: ew-resize;
}
.dragHandleRight:hover,
.dragHandleLeft:hover {
  opacity: 0.5;
}
.dragHandleRight:before,
.dragHandleLeft:before {
  display: block;
  position: absolute;
  top: 0;
  left: calc(-0.5 * var(--spacing-x) + 4px);
  content: '';
  height: 100%;
  width: var(--spacing-x);
}

.duplicate .chord {
  padding: 0.25rem;
}

.display {
  text-align: center;
}

.repeatCount {
  position: absolute;
  top: calc(-0.5 * var(--spacing-y));
  right: calc(-0.5 * var(--spacing-x));
  padding: 0.15em 0.3em;
  border-radius: var(--radius);
  background: var(--dark-label-color);
}
