.ChordsAdderMenu {
  position: sticky;
  top: 0;
  background: hsl(var(--background-hsl) / 0.75);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.ChordsAdder {
  display: grid;
  grid-template-columns: auto 1fr 100px auto;
  gap: var(--spacing);
  justify-items: stretch;
  padding-right: var(--spacing-x);
  padding-top: var(--spacing-y);
  padding-bottom: var(--spacing-y);
  transition: padding 300ms ease-out;
}

.ChordsAdderMenu.IsStuck .ChordsAdder {
  padding-top: calc(0.25 * var(--spacing-y));
  padding-bottom: calc(0.25 * var(--spacing-y));
}

.ChordsAdder form {
  display: flex;
}

.ChordsAdder input {
  padding: 0.5em;
  border: none;
  width: 6em;
  margin: auto;
  border-bottom: 1px solid rgb(255 255 255 / 0.5);
  background: rgb(255 255 255 / 0.05);
  text-align: center;
  font-size: 1.5rem;
  outline: none;
  transition: font-size 300ms ease-out;
}
.ChordsAdderMenu.IsStuck input {
  font-size: 1rem;
}

.ChordsAdder input:hover {
  background: rgb(255 255 255 / 0.075);
}
.ChordsAdder input:focus {
  background: rgb(255 255 255 / 0.1);
  border-bottom: 1px solid white;
}
