.ColorPicker {
  display: inline-block;
  background: hsl(var(--part-h) var(--part-s) var(--part-l));
  border: 1px dotted white;
  padding: 2px 8px;
  font-size: 0.7em;
  border-radius: var(--radius-2);
  cursor: pointer;
}
.ColorPicker input {
  display: none;
}
