.Display {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: var(--font-monospace);
}

.PartTitle {
  padding: 0.15em 0.5em;
  background: var(--title-bg-gradient);
  border-radius: var(--radius-2);
}
