.parts {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 1;
  row-gap: var(--spacing-y);
  height: 80vh;
  overflow-y: auto;
  padding-right: var(--spacing-x);
}

.part {
  background: var(--part-color);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
  border-radius: var(--radius-2);
  border: 1px solid transparent;
  transition: border 300ms;
}

.chordLinesContainer {
  position: relative;
}

.header {
  position: relative;
}

.isActive {
  border-color: rgb(255 255 255 / 0.75);
}
