.parts {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 1;
  row-gap: var(--spacing-y);
  color: var(--chord-text-color);
}

@media screen and (min-width: 960px) {
  .parts {
    padding-right: var(--spacing-x);
  }
}

.part {
  background: var(--part-gradient);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
  border-radius: var(--radius-2);
  border: 1px solid transparent;
  transition: border 300ms;
}
@media screen and (min-width: 960px) {
  .part {
    padding-right: var(--spacing-x-lg);
  }
}

.header .ColorPicker,
.header :global(.edit-menu) {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.header:hover .ColorPicker,
.header:hover :global(.edit-menu) {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.chordLinesContainer {
  position: relative;
}

.header {
  position: relative;
}

.header h3 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.isActive {
  border-color: rgb(255 255 255 / 0.75);
}
