.Playhead {
  display: block;
  position: absolute;
  width: 2px;
  height: 6rem;
  --playhead-hue: 175;
  --playhead-saturation: 100%;
  background: linear-gradient(
    hsl(var(--playhead-hue) var(--playhead-saturation) 50%) 0%,
    hsl(var(--playhead-hue) var(--playhead-saturation) 50% / 0.4) 33%,
    hsl(var(--playhead-hue) var(--playhead-saturation) 50% / 0) 100%
  );
  margin-top: calc(0.5 * var(--spacing-y));
  margin-left: -1px;
  transition: all 200ms ease-out;
  --size: 6px;
}

/* .Playhead::after, */
.Playhead::before {
  display: block;
  position: absolute;
  content: '';
  border: var(--size) solid transparent;
  cursor: pointer;
}

.Playhead::before {
  left: calc(-1 * var(--size) + 1px);
  top: 0;
  border-top-color: hsl(var(--playhead-hue) var(--playhead-saturation) 50%);
}
/* .Playhead::after {
  left: calc(-1 * var(--size) + 1px);
  bottom: 0;
  border-bottom-color: white;
} */
