.SongView {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-y);
}
@media screen and (min-width: 960px) {
  .SongView {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: min-content 1fr;
    justify-items: stretch;
  }
}

.songHeader {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  gap: var(--spacing);
}

.songHeader p {
  font-size: 1rem;
  opacity: 0.7;
}

@media screen and (max-width: 959px) {
  .ArrangementView {
    display: none;
  }
}

@media print {
  .songHeader {
    flex-direction: row;
  }
  .songHeader p {
    display: none;
  }
}
