.SongView {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-y);
}
@media screen and (min-width: 960px) {
  .SongView {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: min-content 1fr;
    justify-items: stretch;
  }
}

.songHeader {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  gap: var(--spacing);
}

.songHeader p {
  font-size: 1rem;
  opacity: 0.7;
}

.chordsAdder {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  gap: var(--spacing);
  justify-items: stretch;
  padding-right: var(--spacing-x);
}

.chordsAdder form {
  display: flex;
}

.chordsAdder input {
  padding: 0.5em;
  border: none;
  width: 6em;
  margin: auto;
  border-bottom: 1px solid rgb(255 255 255 / 0.5);
  background: rgb(255 255 255 / 0.05);
  text-align: center;
  font-size: 30px;
  outline: none;
}

.chordsAdder input:hover {
  background: rgb(255 255 255 / 0.075);
}
.chordsAdder input:focus {
  background: rgb(255 255 255 / 0.1);
  border-bottom: 1px solid white;
}

@media screen and (max-width: 959px) {
  .ArrangementView {
    display: none;
  }
}
