.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.form input {
  padding: 1em 2em;
}

.form:invalid button[type='submit'] {
  opacity: 0.5;
}

.errorMessages {
  color: rgb(200 0 0);
}
